.navigation {
  grid-area: navigation;
  background-color: rgb(88, 90, 107);
 
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
 
 .navigation__box {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
 }
 
 .navigation__box > img {
   object-fit: cover;
   width: 100%;
 }