* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
}

.app-wrapper {
 display: grid;

 grid-template-areas: 
 "header  "
 "navigation "
 "content  ";

 grid-template-rows: 80px 90px auto ;
 grid-template-columns:  12fr ;
 grid-gap: 10px;
}







